/* .container-fluid{
    border: 2px solid black;
}

.navbar-collapse{
    border: 1px solid black;
} */

.navbar-nav-scroll{
    /* border: 2px solid black; */
    gap: 30px;
}



a{
    text-decoration: none;
    color: black
}

.btn-outline-danger{
    border:1px solid #000;
    color: black;
}
.btn-outline-danger:hover{
    background-color: #000;
}