.registerContainer {
  height: 75.1vh;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  background: url(https://www.wallpapertip.com/wmimgs/84-845005_popular-wallpaper-for-pc.jpg);
  background-size: cover;
  background-position: center;
  animation: animateBg 5s linear infinite;
}

@keyframes animateBg {
  100% {
    filter: hue-rotate(360deg);
  }
}

.innerRegisterContainer {
  height: 80%;
  width: 40%;
  display: flex;
  flex-direction: column;
  border-radius: 7px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  backdrop-filter: blur(15px);
  border: 30px;
  color: #fff;
}

.innerUpperContainer {
  height: 17%;
  width: 100%;
  backdrop-filter: blur(15px);
  border-radius: 7px;
  display: flex;
  align-items: center;
  padding: 0 1.5rem;
}

.innerLowerContainer {
  height: 83%;
  width: 100%;
  padding: 0.8rem 2rem;
}

@media screen and (max-width: 500px) {
  .login-box {
    width: 100%;
    height: 100vh;
    border: none;
    border-radius: 0;
  }

  .innerRegisterContainer {
    height: 100vh;
    width: 100vw;
    border: none;
    border-radius: 0;
  }

  .mb-3 {
    display: flex;
    flex-direction: column;
  }
}
